h1{
            color: red;
            background-color: gray;
            
        }

        p{
         color: blue;
         background-color: yellowgreen;
         
        }
        button{

         color: gold;
         background-color: black;
        
        

        }