*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1{
    color: #1b74e4;
    padding: 10px;
}
#searchbtn{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;   
    
}
button{
    background-color: aqua;
    width: 9%;
    height: 100%;
    padding: 6px;
   
}
label{
   font-weight: bold;
   padding: 10px;
}
input{
    padding:10px;
    width: 20%;
    height: 100%;
    
}