

#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    flex-wrap: wrap; */
    align-items: flex-start;

}

h1{
    text-align: center;
}
#container div{
    width: 300px; 
    height: 100px;
    color: white;
    font-size: 1.5em;
    text-align: center;
    
}
#violet{
    background-color: violet;

}
#indigo{
    background-color: indigo;
}
#blue{
    background-color: blue;
    flex-basis: 400px;

}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
    
}
#orange{
    background-color: orange;
   align-self: flex-end;
   flex-basis: 50px;
   
    
}
#red{
    background-color: red;
}